<!DOCTYPE html>
<html lang="en">
<head>
    <link th:href="@{../css/mainstyle.css}" href="../../static/css/mainstyle.css"
          rel="stylesheet" type="text/css" media="screen"/>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>School Agenda</title>
</head>

<body>

<div id="box">
    <p id="LoginPrompt">Register User</p>
    <table class="dataTable">
        <tr><td>
        <tr>
            <th>Id</th>
            <th>Name Teacher</th>
            <th>Course</th>
            <th>Location</th>
            <th>Date</th>

        </tr>
        <tr th:each = "rooms : ${roomList}">
            <td class="tableData" th:text="${rooms.getClassID()}"></td>
            <td class="tableData" th:text="${rooms.getClassTeacher()}"></td>
            <td class="tableData" th:text="${rooms.getClassName()}"></td>
            <td class="tableData" th:text="${rooms.getClassroomNR()}"></td>
            <td class="tableData" th:text="${rooms.getClassDate()}"></td>

        </tr>
        </td>
        </tr></table>
    <div id="collapsible" class="studentContent" style="display: none;">
        <p>test</p>
        <table class="dataTable">
            <tr>

            </tr>
        </table>
    </div>
    <br>
    <div>
        <a th:href="@{/Student/export/pdf}">Export to PDF</a>
    </div>
    <div>
        <p id="signature">This project was made by<br> Vincent M. Seremak</p>
    </div>
    <div> <a align="center" th:href="@{/Redirect}">Ga terug</a></div>
</div>

<div id="logo">
    <img th:src="@{../imgs/noviLogo.png}"/>
</div>

</body>

</html>