<!DOCTYPE html>
<html lang="en">
<head>
    <link th:href="@{../css/mainstyle.css}" href="../../static/css/mainstyle.css"
          rel="stylesheet" type="text/css" media="screen"/>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>School Agenda</title>
</head>

<body>

<div id="box">
    <p id="LoginPrompt">Register User</p>
    <table class="dataTable">
        <tr><td>
        <tr>
            <th>Id</th>
            <th>Name Teacher</th>
            <th>Course</th>
            <th>Location</th>
            <th>Students</th>

        </tr>
        <tr th:each = "rooms : ${roomList}">
            <td class="tableData" th:text="${rooms.getClassID()}"></td>
            <td class="tableData" th:text="${rooms.getTeacherName()}"></td>
            <td class="tableData" th:text="${rooms.getClassName()}"></td>
            <td class="tableData" th:text="${rooms.getClassroomNR()}"></td>
            <td class="tableData"><button type="button" th:onclick="toggle([[${rooms.getClassID}]])" class="collapsible">Show students</button></td>

        </tr>
        </td>
        </tr></table>
    <div id="collapsible" class="studentContent" style="display: none;">
        <p>test</p>
        <table class="dataTable">
            <tr>

            </tr>
        </table>
    </div>
    <br>
    <div>
        <p id="signature">This project was made by<br> Vincent M. Seremak</p>
    </div>
    <div> <a align="center" th:href="@{/Admin}">Ga terug</a></div>
</div>

<div id="logo">
    <img th:src="@{../imgs/noviLogo.png}"/>
</div>

<script th:inline="javascript">
    var list = [[${roomList}]];
    function toggle(list)
    {
        for(let i = 0; i < list.length; i++)
        {
            console.log(list[i]);
        }
        var target = document.getElementById("collapsible")
        if(target.style.display === "block")
        {
            target.style.display = "none";
        }
        else
        {
            target.style.display = "block";
        }
    }
</script>
</body>

</html>