<!DOCTYPE html>
<html lang="en">
<head>
    <link th:href="@{../css/mainstyle.css}" href="../../static/css/mainstyle.css"
          rel="stylesheet" type="text/css" media="screen"/>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>School Agenda</title>
</head>

<body>

<div id="box">
    <p id="LoginPrompt">Register User</p>
    <img th:src="@{/{id}(id = ${user.getImagePath()})}" width="100" height="100" />
    <table class="dataTable">
        <tr><td>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Username</th>
            <th>Role</th>

        </tr>
        <tr>
            <td class="tableData" th:text="${user.getId()}"></td>
            <td class="tableData" th:text="${user.getPersonName()}"></td>
            <td class="tableData" th:text="${user.getUsername()}"></td>
            <td class="tableData" th:text="${user.getRole()}"></td>
        </tr>
        </td>
        </tr></table>
    <br>
    <div>
        <form th:action="@{/Student/ShowDetails}" th:object="${user}" method="post" enctype="multipart/form-data">
            <label>Photos: </label>
            <input type="file" name="image" accept="image/png, image/jpeg" />
            <input id="submitRegister" type="submit" value="Upload Photo"></br>
        </form>

    </div>
    <div>
        <p id="signature">This project was made by<br> Vincent M. Seremak</p>
    </div>
    <div> <a align="center" th:href="@{/Student}">Ga terug</a></div>
</div>

<div id="logo">
    <img th:src="@{../imgs/noviLogo.png}"/>
</div>

</body>

</html>