<!DOCTYPE html>
<html lang="en">
<head>
  <link th:href="@{css/mainstyle.css}" href="../../static/css/mainstyle.css"
        rel="stylesheet" type="text/css" media="screen"/>
  <link href="https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
  <title>School Agenda</title>
</head>

<body>

<div id="box">
  <p id="LoginPrompt">Keuzemenu</p>
  <span id="keuzeMenu"><h2>USER MANAGEMENT</h2>
        <div> <a th:href="@{/Student/ShowDetails}">Show your details</a></div>
        <div> <a th:href="@{/Student/UpdateUser}">Change your details</a></div>
        <h2>CLASSROOM MANAGEMENT</h2>
        <div> <a th:href="@{/Admin/ShowRooms}">Show all classrooms</a></div>
        <div> <a th:href="@{/Admin/RegisterClass}">Create new classrooms</a></div>
        <div> <a th:href="@{/Admin/RemoveClass}">Remove existing classroom</a></div>

    <form th:action="@{/logout}" method="post">
         <button type="submit">Log uit</button>
 </form>
    </span>
  <div>
    <p id="signature">This project was made by<br> Vincent M. Seremak</p>
  </div>
</div>

<div id="logo">
  <img th:src="@{imgs/noviLogo.png}"/>
</div>

</body>

</html>